body {
    background-color: rgb(207, 23, 207);
}

.contenedorProducto{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    padding-bottom: 20px;}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    object-fit: cover
}


.card {
    width: 250px;
    height: 350px;
    background-color: rgb(207, 23, 207);
    padding: .50rem;
    box-shadow: 5px 5px 5px 5px rgb(255, 255, 105);
    border-radius: 5px;

}